h1{
    text-align: center;
}
h2{
    color:rgb(255, 255, 255);
    margin: -8px;
    border: solid rgb(35, 56, 97) 10px;
    background-color: rgb(76, 164, 199);
    padding: 10px;
    text-align: center;
}
body{
    background-color: rgb(116, 197, 207);
}
p{
    text-align: center;
}
div{
    color:rgb(154, 186, 214);
    margin: 8px -8px 8px -8px;
    border: solid rgb(77, 112, 177) 10px;
    background-color: rgb(69, 86, 141);
    padding: 30px;
    text-align: center;
}
