html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#38553d, #c5d3cc);
}
*{
    font-family: 'Roboto', sans-serif;
}
.all{
    margin: 50px auto;
    width: 200px;
    padding: 30px;
    background-color: #567bc43a;
    border-radius: 10px;
}
.all .title1{
    margin: 0 0 30px;
    padding: 0px;
    font-size: 30px;
    color: #101d12;
}
.all .form .lab{
    color: rgb(204, 213, 216);
}
.all .form .data{
    width: 90%;
    padding: 10px 0;
    color: rgb(255, 255, 255);
    border: none;
    background-color: transparent;
    border-bottom: solid #a7afbd 1px;
    margin: 10px;
    border-radius: 5px;
}
.all .form .data:focus{
    outline: none;
    border: solid 1px;
    background: linear-gradient(transparent, #3b4d44);
}